# Pandas practice, with a glimpse at fuzzy matching

In [63]:
import csv, os, sys, math, ast, string
from collections import Counter
import pandas as pd
from difflib import SequenceMatcher

Let's import some optically scanned data; this happens to be derived from the index to the *Book Review Digest,* and has already been extensively processed by Wenyi Shang. I've further focused this list on historical fiction and mysteries, for reasons connected to a project of Madeleine McQuilling's.

In [62]:
histmyst = pd.read_csv('histandmyst.tsv', sep = '\t')
histmyst.head()

   year               genre                  author                 shorttitle
0    21  historical fiction             Buchan, J:            Path of the king
1    21  historical fiction        Williams, E. w.         Court of Belshazzar
2    21  historical fiction  Kryshanovskaya, V. I.    Torchrbearers of Bohemia
3    21  historical fiction         Phillpotts. E.                     Eudocia
4    21  historical fiction             Wilson. M.        Forging of the pikes

As you can see, there are some errors.

Let's try to match this to library metadata. First, however, there's a sneaky problem, which is that there are leading spaces in one column.

In [64]:
histmyst.iloc[0, 3]

' Path of the king'

In [65]:
histmyst['shorttitle'] = histmyst['shorttitle'].str.strip()

In [57]:
testdf = pd.DataFrame({'shorttitle': ['Path of the king', 'Court of Belshazzar'], 'numcopies': [6, 9]})
testdf.head()

            shorttitle  numcopies
0     Path of the king          6
1  Court of Belshazzar          9

In [58]:
merged = testdf.merge(histmyst, left_on = 'shorttitle', right_on = 'shorttitle' how = 'left')

(2, 5)

In [29]:
hathi = pd.read_csv('hathific1930-49.tsv', sep = '\t')

In [60]:
merged = histmyst.merge(hathi, on = 'shorttitle', how = 'inner')

In [61]:
merged.shape

(552, 26)

In [24]:
hathi.loc[hathi.author == 'Christie, Agatha', :]

,docid,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprintdate,genres,...,recordid,instances,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle
381,inu.30000020640763,"Christie, Agatha",1890-1976.,1930.0,1930.0,s,1930,,1930,NaN,...,6059512,1,1.0,1.0,NaN,NaN,The mysterious Mr. Quin / | $c: Aghatha Christie.,NaN,True,The mysterious Mr. Quin
2016,mdp.39015001153629,"Christie, Agatha",1890-1976.,1933.0,1933.0,s,1933,,1933,NaN,...,628161,1,1.0,1.0,NaN,NaN,Thirteen at dinner.,NaN,True,Thirteen at dinner
2280,pst.000011280453,"Christie, Agatha",1890-1976.,1933.0,1933.0,t,1954,1933,1954,NaN,...,7031743,1,1.0,1.0,NaN,NaN,Lord Edgware dies / | $c: Agatha Christie.,NaN,True,Lord Edgware dies
2510,mdp.39015008016746,"Christie, Agatha",1890-1976.,1934.0,1934.0,s,1934,,1934,NaN,...,628122,1,1.0,1.0,NaN,NaN,Murder in the Calais coach / | $c: Agatha Chri...,NaN,True,Murder in the Calais coach
2511,mdp.39015000682040,"Christie, Agatha",1890-1976.,1934.0,1934.0,s,1934,,1962,NaN,...,628125,1,1.0,1.0,NaN,NaN,"Mr. Parker Pyne, detective / | $c: by Agatha C...",NaN,True,"Mr. Parker Pyne, detective"
3715,mdp.39015020689215,"Christie, Agatha",1890-1976.,1936.0,1936.0,s,1936,,1936,NaN,...,628099,1,1.0,1.0,NaN,NaN,The A. B. C. murders; | a new Poirot mystery.,NaN,True,The A. B. C. murders; a new Poirot mystery
4097,mdp.39076005032938,"Christie, Agatha",1890-1976.,1936.0,1936.0,s,1936,,1936,NaN,...,9904778,1,1.0,1.0,NaN,NaN,Surprise endings by Hercule Poirot.,NaN,True,Surprise endings by Hercule Poirot
4301,mdp.39015046448521,"Christie, Agatha",1890-1976.,1937.0,1937.0,s,1937,,1937,NaN,...,628148,1,1.0,1.0,NaN,NaN,Perilous Journeys of Hercule Poirot : | includ...,NaN,True,Perilous Journeys of Hercule Poirot : includin...
4302,mdp.39015046391333,"Christie, Agatha",1890-1976.,1937.0,1937.0,s,1937,,1937,Mystery fiction,...,628153,1,2.0,1.0,NaN,NaN,Poirot loses a client / | $c: by Agatha Christie.,NaN,True,Poirot loses a client
5150,uc1.32106001973962,"Christie, Agatha",1890-1976.,1938.0,1938.0,s,1938,,1938,NaN,...,7127420,1,1.0,1.0,NaN,NaN,"Appointment with death, a Poirot mystery.",NaN,True,"Appointment with death, a Poirot mystery"
5314,mdp.39015010390337,"Christie, Agatha",1890-1976.,1939.0,1939.0,s,1939,,1939,NaN,...,628157,1,1.0,1.0,NaN,NaN,"The regatta mystery, and other stories / | $c:...",NaN,True,"The regatta mystery, and other stories"
6480,uc1.32106001973970,"Christie, Agatha",1890-1976.,1941.0,1941.0,s,1941,,1941,NaN,...,7127421,1,1.0,1.0,NaN,NaN,"Evil under the sun, | $c: by Agatha Christie.",NaN,True,Evil under the sun
6481,uc1.32106001974044,"Christie, Agatha",1890-1976.,1941.0,1941.0,s,1941,,1941,NaN,...,7127422,1,1.0,1.0,NaN,NaN,"The patriotic murders, | $c: by Agatha Christie.",NaN,True,The patriotic murders
6766,inu.39000003046971,"Christie, Agatha",1890-1976.,1942.0,1942.0,s,1942,,1942,NaN,...,6059508,1,2.0,1.0,NaN,NaN,"The body in the library, | $c: by Agatha Chris...",NaN,True,The body in the library
7630,miun.acs0128.0001.001,"Christie, Agatha",1890-1976.,1944.0,1944.0,s,1944,,1944,Detective and mystery stories,...,628115,1,2.0,1.0,NaN,NaN,Death comes as the end / | $c: Agatha Christie.,NaN,True,Death comes as the end
7631,mdp.39015054188811,"Christie, Agatha",1890-1976.,1944.0,1944.0,s,1944,,1944,NaN,...,628163,2,2.0,2.0,NaN,NaN,Towards zero.,NaN,True,Towards zero
7827,uc1.$b312784,"Christie, Agatha",1890-1976.,1944.0,1944.0,s,1944,,1944,NaN,...,6541706,1,1.0,1.0,NaN,NaN,"Absent in the spring, | $c: by Mary Westmacott.",NaN,True,Absent in the spring
8430,pst.000049234091,"Christie, Agatha",1890-1976.,1945.0,1945.0,t,1947,1945,1947,Mystery fiction,...,7048167,1,2.0,1.0,NaN,NaN,Remembered death / | $c: Agatha Christie.,NaN,True,Remembered death
9078,pst.000019201559,"Christie, Agatha",1890-1976.,1946.0,1946.0,s,1946,,1946,NaN,...,7031742,1,1.0,1.0,NaN,NaN,The hollow / | $c: Agatha Christie.,NaN,True,The hollow
9820,pst.000005372669,"Christie, Agatha",1890-1976.,1947.0,1947.0,t,1967,1947,1967,NaN,...,7490782,1,2.0,1.0,NaN,NaN,The labors of Hercules / | $c: [by] Agatha Chr...,NaN,True,The labors of Hercules
10047,mdp.39015031603908,"Christie, Agatha",1890-1976.,1948.0,1948.0,s,1948,,1948,Detective and mystery stories,...,663220,1,2.0,1.0,NaN,NaN,There is a tide.,NaN,True,There is a tide
11618,mdp.39076005032920,"Christie, Agatha",1890-1976.,1968.0,1934.0,r,1968,1934,1968,NaN,...,9904777,1,2.0,2.0,NaN,NaN,Murder on the Orient express.,NaN,False,Murder on the Orient express
12005,mdp.49015002952951,"Christie, Agatha",1890-1976.,1983.0,1940.0,r,1983,1940,1983,NaN,...,4960431,1,2.0,2.0,NaN,NaN,And then there were none / | $c: Agatha Christie.,NaN,False,And then there were none
12043,mdp.49015002953025,"Christie, Agatha",1890-1976.,1985.0,1936.0,r,1985,1936,1985,NaN,...,4960552,1,1.0,1.0,NaN,NaN,Murder in Mesopotamia / | $c: Agatha Christie.,NaN,False,Murder in Mesopotamia
12046,uc1.32106012297542,"Christie, Agatha",1890-1976.,1985.0,1948.0,c,1985,1948,1985,NaN,...,7103244,1,1.0,1.0,NaN,NaN,The witness for the prosecution and other stor...,NaN,False,The witness for the prosecution and other stories
12067,mdp.39015058017438,"Christie, Agatha",1890-1976.,1986.0,1931.0,r,1986,1931,1986,NaN,...,3452155,1,1.0,1.0,NaN,NaN,Five complete novels of murder and detection /...,NaN,False,Five complete novels of murder and detection
12116,mdp.49015002952977,"Christie, Agatha",1890-1976.,1988.0,1931.0,r,1988,1931,1988,NaN,...,4960505,1,1.0,1.0,NaN,NaN,Dead man's mirror / | $c: Agatha Christie.,NaN,False,Dead man's mirror
12117,mdp.49015002953033,"Christie, Agatha",1890-1976.,1988.0,1934.0,r,1988,1934,1988,NaN,...,4960558,1,1.0,1.0,NaN,NaN,Murder in three acts / | $c: Agatha Christie.,NaN,False,Murder in three acts
12118,mdp.49015002953066,"Christie, Agatha",1890-1976.,1988.0,1941.0,r,1988,1941,1988,NaN,...,4961543,1,1.0,1.0,NaN,NaN,N or M? / | $c: Agatha Christie.,NaN,False,N or M?
12163,inu.30000002186975,"Christie, Agatha",1890-1976.,1990.0,1937.0,r,1990,1937,1990,NaN,...,7586786,1,1.0,1.0,NaN,NaN,Death on the Nile / | $c: Agatha Christie.,NaN,False,Death on the Nile
12207,inu.30000043736507,"Christie, Agatha",1890-1976.,1992.0,1937.0,r,1992,1937,1992,Detective and mystery stories,...,7586787,1,1.0,1.0,NaN,NaN,Appointment with death / | $c: Agatha Christie.,NaN,False,Appointment with death